@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Monofett&family=Montserrat:ital,wght@0,400;1,600&display=swap');

p{
    font-family: 'Montserrat', sans-serif;
}

h6{
    font-size: 0.75rem;
}

.nav-link{
    color:rgb(211, 211, 211) !important;
}

.nav-link:hover{
    color:rgb(255, 255, 255) !important;
}

.img-circle{
    width:200px;
    height: 200px;
    border-radius: 50%;
    
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

}

.icon{
    width: 25px;
    height: 25px;
}

.mouse-over-animation{
    cursor: pointer;
    transition: all 0.5s;
}

.mouse-over-animation:hover{
    transform: scale(1.05);
}

.bg-dark-gradient{
    background: rgb(40,49,59);
background: linear-gradient(45deg, rgba(40,49,59,1) 0%, rgba(56,56,56,1) 100%);
}

.bg-dark-droptop{
    background: rgb(156,156,156);
background: linear-gradient(0deg, rgba(156,156,156,1) 0%, rgba(0,0,0,1) 100%);
}

.font-title{
    font-family: 'Lilita One', cursive;
}
